<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Crear usuario de Empleado</ion-title>
      <ion-icon ion-id="bell-noty" name="notifications" position="right"></ion-icon>

    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-body>
<p>Crear Usuarios </p>
  <ion-form>
  <ion-div class="infoEmpleado" id="idInfoEmpleado">
  <ion-label>Nombre del Empleado</ion-label>
  <br>
  <input type="text" name="name" id="name" required placeholder="Nombre del Empleado">
  </ion-div>
  <br><br>
  <ion-div class="DireccionEmpleado" id="idDireccionEmpleado">
  <ion-label>Dirección</ion-label>
  <br>
  <input type="text" name="name" id="name" required placeholder="Dirección">
  </ion-div>
  <br><br>
  <ion-div class="infotelEmp" id="idInfoTelEmp">
  <ion-label >Teléfono Celular</ion-label>
  <br>
  <input type="text" name="name" id="name" required placeholder="Télefono celular">
  </ion-div>
  <br><br>
  <p>Cuentas con vehículo</p>
  <br><br>
  <p>Datos del Vehículo</p>
  <ion-div>
  <ion-label>Tipo de vehículo</ion-label>
  <br>
  <select name="TipoVehiculo" id="idTipoVehiculo">
    <option value="Camíon">Camión</option>
    <option value="Triler">Traile</option>
    <option value="Automovil">Automovil</option>

  </select>
  </ion-div>
  <br><br>
  <ion-div>
  <ion-label>Marca del vehículo</ion-label>
  <br>
  <select name="categoriasServicios" id="catServicios">
    <option value="Ford">Ford</option>
    <option value="Nissa">Nissan</option>
    <option value="RAM">RAM</option>

  </select>
  </ion-div>
  <br><br>
  <ion-div>
  <ion-label>Modelo del vehículo</ion-label>
  <br>
  <select name="categoriasServicios" id="catServicios">
    <option value="F100">F100</option>
    <option value="N200">N200</option>
    <option value="RAM F50">RAM F50</option>

  </select>
  </ion-div>
  <br><br>
  <ion-div class="infotelEmp" id="idInfoTelEmp">
  <ion-label >Placas del vehículo</ion-label>
  <input type="text" name="name" id="name" required placeholder="Placas del vehículo">
  </ion-div>
  <br><br>

  <div>
    <label >Color del vehículo</label>
      <input type="color" id="head" name="head"
             value="#e66465">

  </div>

  </ion-form>
  <ion-card>
    <img id="ine" src="\assets\img\ine.PNG" alt="">
    <ion-card-content>
    <ion-tittle>

    </ion-tittle>
  </ion-card-content>
  </ion-card>

  </ion-body>

</ion-content>
