<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Crear Usuario de Empleados</ion-title>

      <ion-icon ion-id="bell-noty" name="notifications" position="right"></ion-icon>

    </ion-buttons>
  </ion-toolbar>
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->

</ion-header>

<ion-content [fullscreen]="true">

  <ion-body>
<p id="datos"><b>Crear Usuarios</b><ion-icon id="iconCar"name="person-circle-outline"></ion-icon></p>
  <ion-form>
  <ion-div class="infoEmpleado" id="idInfoEmpleado">
  <p><ion-label>Nombre del Empleado</ion-label></p>
  <input type="text" name="name" id="name" size="40px" required placeholder="Nombre del Empleado">
  </ion-div>

  <ion-div class="DireccionEmpleado" id="idDireccionEmpleado">
  <p><ion-label>Dirección</ion-label></p>

  <input type="text" name="name" id="name" size="40px" required placeholder="Dirección">
  </ion-div>
  <ion-div class="infotelEmp" id="idInfoTelEmp">
  <p><ion-label >Teléfono Celular</ion-label></p>

  <input type="text" name="name" id="name" size="40px" required placeholder="Télefono celular">
  </ion-div>

  <p id="select1"><ion-label>¿Cuentas con vehículo?</ion-label>

      <ion-toggle slot="end" id="toggler-car"></ion-toggle>

  </p>
  <p id="datos"><b>Datos del Vehículo</b><ion-icon id="iconCar" name="car"></ion-icon> </p>
  <ion-div>
  <p id="select"><ion-label>Tipo de vehículo</ion-label>
    <select name="TipoVehiculo" id="catServicios1" >
      <option value="Camíon">Camión</option>
      <option value="Triler">Trailer</option>
      <option value="Automovil">Automovil</option>

    </select>
  </p>

  </ion-div>
  <ion-div>
  <p id="select"><ion-label>Marca del vehículo</ion-label>
    <select name="categoriasServicios" id="catServicios2">
      <option value="Ford">Ford</option>
      <option value="Nissa">Nissan</option>
      <option value="RAM">RAM</option>

    </select>
  </p>

  </ion-div>
  <ion-div>
  <p id="select"><ion-label>Modelo del vehículo</ion-label>
    <select name="categoriasServicios" id="catServicios3">
      <option value="F100">F100</option>
      <option value="N200">N200</option>
      <option value="RAM F50">RAM F50</option>

    </select>
  </p>

  </ion-div>

  <ion-div class="infotelEmp" id="idInfoTelEmp">
  <p><ion-label >Placas del vehículo</ion-label>
    <input type="text" name="name" id="name" size="20px" required placeholder="Placas del vehículo">

  </p>
  </ion-div>


  <div>
    <p id="select"><label id="colorVei">Color del vehículo</label><input type="color" id="head" size="40px"  name="head"
           value="#e66465"></p>


  </div>


  </ion-form>

  <ion-card>
    <img id="ine" src="\assets\img\ine.PNG" alt="">
    <ion-card-content>
    <ion-tittle>

    </ion-tittle>
  </ion-card-content>
  </ion-card>

  </ion-body>

</ion-content>
