ion-menu-button {
  color: var(--ion-color-primary);
}
ion-title.info-contact{
  text-align: center;
  position: relative;
  float: right;
};
p{
text-align: center;
};
ion-label{
  background-color:#D8D8D8;
  width: inherit;
}
input{
  color:red;
}
ion-card{
  padding-left: 50px;
  margin-bottom: 50px;
}
#pinfoempresa,p{
  text-align: center;
  background-color: #D8D8D8;
  padding-top: 10px;
  padding-bottom: 10px;
}
