<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Mi Empresa</ion-title>
      <ion-icon ion-id="bell-noty" name="notifications" position="right"></ion-icon>

    </ion-buttons>
  </ion-toolbar>
  <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->

</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-body>
<p id="datos"><b>Información de la Empresa</b> </p>
<ion-form>
  <ion-div class="infoNameEmp" id="idInfoNameEmp">
<p><ion-label>Nombre de la Empresa</ion-label></p>
<input type="text" name="name" id="name" size="40px" required placeholder="Nombre de la Empresa">
</ion-div>
<ion-div class="infoDireccionEmp" id="idInfoDireccionEmp">
<p><ion-label>Dirección</ion-label></p>
<input type="text" name="name" id="name" size="40px" required placeholder="Dirección">
</ion-div>
<ion-div class="infoHorarioEmp" id="idInfoHorarioEmp">
<p><ion-label id="textHorario">Horarios</ion-label></p>
<input type="text" name="name" id="name" size="15px" required placeholder="De esta hora "> <input type="text" name="name" id="name" size="15px" required placeholder="A esta hora">
</ion-div>
<ion-div class="infoRfcEmp" id="idInfoRfcEmp">
<p><ion-label>RFC</ion-label></p>
<input type="text" name="name" id="name" size="40px" required placeholder="RFC">
</ion-div>
<ion-div class="infotelEmp" id="idInfoTelEmp">
<p><ion-label id="textHorario">Teléfonos</ion-label></p>
<input type="text" name="name" id="name" size="15px" required placeholder="Télefono 1 "> <input type="text" name="name" id="name" size="15px" required placeholder="Télefono 2">
</ion-div>
<ion-div class="infoPaginaEmp" id="idInfoPaginaEmp">
<p><ion-label>Página web</ion-label></p>
<input type="text" name="name" id="name" size="40px" required placeholder="Página web">
</ion-div>
<ion-div>
<p><ion-label>Categoría de Servicios</ion-label></p>
<select name="categoriasServicios" id="idFormaPago">
    <option value="Servicio 1">Servicio 1</option>
    <option value="Servicio 2">Servicio 2</option>
    <option value="Servicio 3">Servicio 3</option>

</select>
</ion-div>
<ion-div>
  <p><ion-label>Tipo de Servicios</ion-label></p>

<select name="categoriasTipoServicios" id="idFormaPago">
    <option value="Servicio 1">Servicio 1</option>
    <option value="Servicio 2">Servicio 2</option>
    <option value="Servicio 3">Servicio 3</option>

</select>
</ion-div>
<ion-div class="rangoPrec" id="idRangoPrec">
<p><ion-label id="textHorario">Rango de Precios</ion-label></p>
<input type="text" name="name" id="name" size="15p" required placeholder="Desde "> <input type="text" name="name" id="name" size="15px" required placeholder="Hasta">
</ion-div>
<ion-div>
  <p><ion-label>Forma de pago</ion-label></p>
<select name="FormaPago" id="idFormaPago">
    <option value="Debito">Debito</option>
    <option value="Credito">Credito</option>
    <option value="Efectivo">Efectivo</option>

</select>
<br><br>
<input type="text" name="name" id="name" size="15p" required placeholder="CLABE "> <input type="text" name="name" id="name" size="15px" required placeholder="Número de Tarjeta">

</ion-div>

<div id="distancia">
  <p><ion-label>Límite de distancia</ion-label></p>
  <input type="range" id="volume" name="volume"
         min="0" max="100" >

</div>


</ion-form>

</ion-body>

</ion-content>
