<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Servicios</ion-title>
      <ion-icon ion-id="bell-noty" name="notifications" position="right"></ion-icon>

    </ion-buttons>
  </ion-toolbar>
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->

</ion-header>

<ion-content>
  <ion-div class="text" id="buscar">
  <p id="buscar"><b>¿Qué tipo de sercio buscas?</b></p>
  </ion-div>

<ion-card>
  <img src="\assets\img\hogar-menu.PNG" alt="">
  <ion-card-content>
  <ion-tittle>

  </ion-tittle>
</ion-card-content>
</ion-card>
<ion-card>
  <img src="\assets\img\auto-menu.PNG" alt="">
  <ion-card-content>
  <ion-tittle>

  </ion-tittle>
</ion-card-content>
</ion-card>
<ion-card>
  <img src="\assets\img\eventos-menu.PNG" alt="">
  <ion-card-content>
  <ion-tittle>

  </ion-tittle>

</ion-card-content>
</ion-card>

</ion-content>
