ion-menu-button {
  color: var(--ion-color-primary);
}
ion-title.info-contact{
  text-align: center;
  position: relative;
  float: right;
};
p{
text-align: center;
};
div.toolbar-container{
  background-color: black;
}

#buscar{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #D8D8D8;
}
ion-content{
  padding-left: 40px;
  margin-left: 40px;

}
ion-body{
  background-color: #f2f2f2;
}
.textHorario{
  text-align: center;
}
div{
  background-image: url();
}
