<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Servicios para el hogar</ion-title>
      <ion-icon ion-id="bell-noty" name="notifications" position="right"></ion-icon>

    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid >
     <ion-row class="colum-img">
       <ion-col class="size-col">
         <a  href="\servicios-auto"><img  class="flechas-slides1" src="\assets\img\flecha-izquierda.jpg" alt=""></a>
       </ion-col>
       <ion-col class="size-col">
         <img class="logo-central" src="\assets\img\casa.png" alt="">
       </ion-col>
       <ion-col class="size-col">
         <a  href="\servicios-event"><img class="flechas-slides2"  src="\assets\img\flecha-derecha.jpg" alt=""></a>

       </ion-col>
     </ion-row>
     </ion-grid>


 </ion-card>


  <ion-searchbar value="Ionic"></ion-searchbar>


  <ion-list>
  <ion-item>
    <ion-label>Jardinería</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Cerrajería</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Fontanería</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Electricista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>herrería</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Crystales y Aluminios</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Técnico de electrodomésticos</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Albañilería</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pintores</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Arquitectos</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Veterinarias</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Serguros de vida</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Cortinas</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Repartidores</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Diseñadores de interiores </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Fumigación </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Limpieza del hogar</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Limpieza de muebles</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Aire acondicionado</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Sanitización y Desinfección</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mudanzas</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Lavanderías</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tintorerías</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tapicería</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Niñeras</ion-label>
  </ion-item>
</ion-list>

</ion-content>
