ion-menu-button {
  color: var(--ion-color-danger);
}
ion-card{
  background-color: #D8D8D8;
  width: 50;
  display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
ion-grid{


}
ion-col{
  display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

p{
  background-color: #D8D8D8;
}
.flechas-slides1{
  width: 30px;

}
.flechas-slides2{
  width: 30px;

}
.logo-central{
  width: 40px;

}
.colum-img{
  padding-left: 45px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: 0.1em;
  margin-top: 0.1em;

  /**display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;**/

}
.size-col{
  padding-bottom: 0.2em;
}
