<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Eventos</ion-title>
      <ion-icon ion-id="bell-noty" name="notifications" position="right"></ion-icon>

    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid >
     <ion-row class="colum-img">
       <ion-col class="size-col">
         <a  href="\servicios-hogar"><img  class="flechas-slides1" src="\assets\img\flecha-izquierda.jpg" alt=""></a>
       </ion-col>
       <ion-col class="size-col">
         <img class="logo-central" src="\assets\img\mesa-de-banquete.png" alt="">
       </ion-col>
       <ion-col class="size-col">
         <a  href="\servicios-auto"><img class="flechas-slides2"  src="\assets\img\flecha-derecha.jpg" alt=""></a>

       </ion-col>
     </ion-row>
     </ion-grid>


 </ion-card>


  <ion-searchbar value="Ionic"></ion-searchbar>


  <ion-list>
  <ion-item>
    <ion-label>Entretenimiento</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Banquetes</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mobiliario</ion-label>
  </ion-item>
  
</ion-list>

</ion-content>
